html {
  background-color: #000;
  box-sizing: border-box;
  margin: 0;
}

@media screen and (min-width: 440px) {
  body {
    font-family: ocr-b-std, monospace;
    font-weight: 400;
    font-style: normal;
  }

  .title {
    text-align: justify;
    width: 67vw;
    margin: auto;
    /* text-decoration: underline; */
    padding: 0.25em;
    font-size: 60px;
    margin-bottom: 2vh;
    line-height: 1.3em;
    color: black;
    /* background-color: black; */
  }

  .introtext {
    text-indent: 1em;
    line-height: 1.2em;
    width: 79vw;
    margin: auto;
  }

  .intro {
    background-color: white;
    margin: auto;
    width: 93vw;
    padding: 5vh 2vh 2vh 2vh;
    color: black;
    font-size: 50px;
    line-height: 1.3em;
    height: 100vh;
  }

  .instructions {
    background-color: black;
    padding: .25em;
    color: #fff;
    width: 85%;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: .5vh;
  }

  .info {
    background-color: white;
    color: black;
    width: fit-content;
  }

  .toProj {
    color: #50ff00;
    width: fit-content;
    padding: 1em;
    margin: auto;
    text-decoration: underline;
  }

  a {
    text-decoration: none;
  }
