html {
  background-color: #000;
  box-sizing: border-box;
  margin: 0;
  font-family: ocr-b-std, monospace;
  font-weight: 400;
  font-style: normal;
}

@media screen and (min-width:500px) {


  .intro {
      position: fixed;
      background-color: white;
      margin: auto;
      width: 88%;
      top: 15vh;
      left: 1.5vw;
      height: 70%;
      padding: 5vh 2vh 2vh 2vh;
      color: black;
      font-size: 50px;
      line-height: 1.3em;
  }


.title{
  text-align: justify;
width: 62%;
margin: auto;
padding: 0.25em;
font-size: 24px;
margin-bottom: 6vh;
line-height: 1.3em;
color: black;
}


.instructions {
    color: #50ff00;
    background-color: black;
    padding: .25em;
    width: 85%;
    margin: auto;
    font-size: 24px;
    line-height: 1.2em;
}



}

@media screen and (min-width:300px) {

  body {
    font-family: ocr-b-std, monospace;
    font-weight: 400;
    font-style: normal;
    width: 100vw;
  }

  .title {
    text-align: justify;
    width: 86%;
    margin: auto;
    padding: 0.25em;
    font-size: 18px;
    margin-bottom: 2vh;
    line-height: 1.3em;
    color: black;
  }

  .introtext {
    text-indent: 1em;
    line-height: 1.2em;
    width: 79vw;
    margin: auto;
  }

  .intro {
    position: fixed;
    background-color: white;
    margin: auto;
    width: 88%;
        top: 10vh;
    left: 1vw;
    padding: 5vh 2vh 2vh 2vh;
    color: black;
    font-size: 19px;
  line-height: 1.2em;
}


  .instructions {
    color: #50ff00;
    background-color: black;
    padding: .25em;
    /* color: #fff; */
    width: 97%;
    margin: auto;
    /* margin-top: 3vh; */
    /* margin-bottom: .5vh; */
    font-size: 15px;
    line-height: 1.2em;
}


  .info {
    background-color: white;
    color: black;
    width: fit-content;
  }

  .toProj {
    width: fit-content;
  margin: auto;
  text-decoration: underline;
  font-size: 17px;
  margin-top: 4vh;

  }

  a {
    text-decoration: none;
  }


  #start-game-button{
    /* position: absolute; */
  color: black;
  font-size: 20px;
  margin: auto;
  width: 35%;
  background-color: #FFF;
  margin-top: 15vh;
  text-align: center;
  /* text-decoration: underline; */
  }

  .p5Canvas{
    width: 100vw;
    margin:auto;
    margin-top:10vh;
    display: block;
        margin-left: 1vw;
  }

  .to-anchor{
    display: block;
  }
}


  @media screen and (min-width: 375px){
  .intro {
    position: fixed;
    background-color: white;
    margin: auto;
    width: 66%;
    top: 7vh;
    left: 3.5vw;
    padding: 5vh 2vh 2vh 2vh;
    color: black;
    /* font-size: 50px; */
    line-height: 1.3em;
    height: 57%;

  }
}


@media screen and (min-width: 768px){
.intro {
  position: fixed;
  background-color: white;
  margin: auto;
  width: 58%;
  top: 11vh;
  left: 5vw;
  padding: 5vh 2vh 2vh 2vh;
  color: black;
  line-height: 1.3em;
}
.instructions {
    color: #50ff00;
    background-color: black;
    padding: .25em;
    width: 85%;
    margin: auto;
    font-size: 25px;
    line-height: 1.2em;
}

}
